<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Smile\ElasticsuiteCatalog\Block\Navigation\Renderer\Attribute">
        <plugin name="proxiblue_ajaxlayer_attribute_filter_data" type="ProxiBlue\AjaxLayer\Plugin\Attribute"/>
    </type>
</config>
